[Unit]
Description=Diary - Telegram Bot
After=network-online.target

[Service]
WorkingDirectory=/opt/projects/diary
ExecStart=/home/ubuntu/.local/bin/poetry run python3 main.py
Restart=always
RestartSec=15s
KillMode=process
TimeoutSec=infinity
User=ubuntu
Group=sudo

[Install]
WantedBy=multi-user.target