<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Stages</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Етапи польоту</h1>
    <div class="table-container">
        <!-- Table 1 -->
        <div class="table" id="pre-flight">
            <h2>Перед Вилітом</h2>
            <ul class="task-list" id="pre-flight-tasks">
                <li draggable="true" class="task">Готуємось</li>
                <li draggable="true" class="task">Підготували</li>
            </ul>
        </div>

        <!-- Table 2 -->
        <div class="table" id="in-flight">
            <h2>Політ</h2>
            <ul class="task-list" id="in-flight-tasks">
                <li draggable="true" class="task">Підготвка до</li>
                <li draggable="true" class="task">Зробили</li>
            </ul>
        </div>

        <!-- Table 3 -->
        <div class="table" id="post-flight">
            <h2>Після Приліту</h2>
            <ul class="task-list" id="post-flight-tasks">
                <li draggable="true" class="task">Що треба зробити</li>
                <li draggable="true" class="task">Зробили</li>
            </ul>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
