<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="/static/css/u4u.css">
</head>
<body>
    <h1>Task Management</h1>

		<div class="navigation">
			<button onclick="location.href='/api/u4u/table'" class="nav-button">До списку</button>
		</div>

    <!-- Form for adding new tasks -->
    <div id="task-form-container">
        <h2>Create a New Task</h2>
        <form id="task-form">
            <label for="task-title">Title:</label>
            <input type="text" id="task-title" name="title" required>

            <label for="task-description">Description:</label>
            <input type="text" id="task-description" name="description" required>

            <label for="task-status">Status:</label>
            <select id="task-status" name="status">
								{% for value, status in statuses.items() %}
									<option value="{{ value }}">{{ status }}</option>
								{% endfor %}
            </select>

            <label for="task-type">Type:</label>
            <select id="task-type" name="type">
								{% for value, type in types.items() %}
									<option value="{{ value }}">{{ type }}</option>
								{% endfor %}
            </select>

            <label for="task-category">Category:</label>
            <select id="task-category" name="category_id" required>
            	{% for category in categories %}
								<option value="{{ category.id }}" style="background-color: {{ category.color }}">{{ category.name }}</option>
							{% endfor %}
						</select>

            <button type="submit">Create Task</button>
        </form>
    </div>

    <!-- Table for displaying tasks -->
    <div id="tasks-table-container">
        <h2>Tasks</h2>
        <table id="tasks-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
								{% for task in tasks %}
								<tr id="task-row-{{ task.id }}">
									<td class="task-title"><input type="text" value="{{ task.title }}" disabled></td>
									<td class="task-description"><input type="text" value="{{ task.description }}" disabled></td>
									<td class="task-status">
										<select value="{{ task.status }}" disabled>
											{% for value, status in statuses.items() %}
												<option
													value="{{ value }}"
													{% if value == task.status %}
														selected
													{% endif %}
												>
													{{ status }}
												</option>
											{% endfor %}
										</select>

									</td>
									<td class="task-type">
										<select value="{{ task.type }}" disabled>
											{% for value, type in types.items() %}
												<option
													value="{{ value }}"
													{% if value == task.type %}
														selected
													{% endif %}
												>
													{{ type }}
												</option>
											{% endfor %}
										</select>
									</td>
									<td class="task-category">
										<select value="{{ task.category_id }}" disabled>
											{% for category in categories %}
												<option
													value="{{ category.id }}"
													{% if category.id == task.category_id %}
														selected
													{% endif %}
													style="background-color: {{ category.color }}"
												>
													{{ category.name }}
												</option>
											{% endfor %}
										</select>
									</td>
									<td>
										<button onclick="enableEdit({{ task.id }})">Edit</button>
										<button class="save-button" onclick="saveEdit({{ task.id }})" style="display: none;">Save</button>
										<button class="cancel-button" onclick="cancelEdit({{ task.id }})" style="display: none;">Cancel</button>
										<button onclick="deleteTask({{ task.id }})">Delete</button>
									</td>
								</tr>
								{% endfor %}
            </tbody>
        </table>
    </div>

		<script type="text/javascript">
			const statuses = '{{ statuses|tojson }}';
			const types = '{{ types|tojson }}';
			const	categories = {{ categories_json|tojson }};
			console.log(categories);
			console.log(statuses);
			console.log(types);



		</script>
    <script src="/static/js/tasks.js"></script>
</body>
</html>
